.header{
    background-color: rgb(48, 48, 48, 98%);
    color: white;
}

.message{
    transition: color 0.2s ease-out;
}
.red{
    color: red;
}
.green{
    color: green;
}
.normal{
    color: inherit;
}